# Ignore project files in the root
*.sln
!*\*.sln
.vs
*.suo
*.opensdf
*.sdf
*.pdb
*-Debug.dll
*.xcodeproj
.\Makefile
.\CMakeLists.txt
.\.ue4dependencies

ipch\*

# Ignore Unix backup files
*~

# Ignore Mac desktop services store files 
.DS_Store

# Ignore crash reports
crashinfo--*

# Ignore linux project files
*.user
*.pro
*.pri
*.kdev4

# Ignore project-specific files
Binaries
Binaries\*
Binaries\*\*
Plugins\*\Binaries
Plugins\*\Binaries\*
Plugins\*\Binaries\*\*
Build\Receipts\*
DerivedDataCache
DerivedDataCache\*
Intermediate
Intermediate\*
Saved
Saved\*
*.sln
Build/*.log
Build/*/*.log
Build/*/*/*.log
